@if (AppState.IsAuthenticated)
{
  <HomeProgress/>
}

@code {
}

@* Component nhỏ inline để Home gọn *@

@code {
  private TodayProgressResponse? _today;

  protected override async Task OnInitializedAsync()
  {
    if (AppState.IsAuthenticated)
    {
      _today = await Api.GetTodayProgressAsync();
    }
  }

}

@if (_today is not null)
{
  <hr/>
  <p><b>Today:</b> @_today.TotalAnswered / @_today.DailyGoalMinutes (Correct: @_today.CorrectAnswered)</p>
  <p><a href="/study">Go to Study</a></p>
}
