@page "/logout"
@inject UiText T

<PageTitle>@T["Nav.Logout"]</PageTitle>

<p>@T["Logout.SigningOut"]</p>

@code {

  protected override async Task OnInitializedAsync()
  {
    await AppState.LogoutAsync();
    GoLogin();
  }

  private void GoLogin()
  {
    Nav.NavigateTo("/login");
  }

}
