@page "/logout"
<PageTitle>Logout</PageTitle>

<p>Signing out...</p>

@code {

  protected override async Task OnInitializedAsync()
  {
    await AppState.LogoutAsync();
    GoLogin();
  }

  private void GoLogin()
  {
    Nav.NavigateTo("/login");
  }

}
